In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

youtube = pd.read_csv('archive/youtube.csv', encoding='latin1')

In [4]:
youtube.head(2)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

In [5]:
youtube.shape

(995, 28)

In [6]:
youtube.iloc[0]["Youtuber"]

'T-Series'

In [7]:
youtube["Youtuber"].value_counts()

T-Series                    1
Hongyu ASMR ï¿½ï¿½          1
Sony LIV                    1
T-Series Hamaar Bhojpuri    1
Oyuncak Avï¿                1
                           ..
Tekashi 6ix9ine             1
Tlnovelas                   1
SMOL                        1
invictor                    1
Make Joke Of                1
Name: Youtuber, Length: 995, dtype: int64

In [8]:
youtube_df = youtube[['Title', 'Population', 'video views', 'channel_type']]

In [9]:
youtube.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [12]:
youtube.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
Latitude                                   123
Longitude                                  123
dtype: int64

In [13]:
youtube.duplicated().sum()

0

In [14]:
youtube.head(2)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

In [15]:
type(youtube.iloc[0]['uploads'])

numpy.int64

In [16]:
import ast

def convert(text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])
        
    return l

In [18]:
youtube_df.head()

                        Title    Population   video views   channel_type
0                    T-Series  1.366418e+09  2.280000e+11          Music
1               youtubemovies  3.282395e+08  0.000000e+00          Games
2                     MrBeast  3.282395e+08  2.836884e+10  Entertainment
3  Cocomelon - Nursery Rhymes  3.282395e+08  1.640000e+11      Education
4                   SET India  1.366418e+09  1.480000e+11  Entertainment

In [20]:
youtube_df.iloc[0]['Title']

'T-Series'

In [21]:
youtube_df.shape

(995, 4)

In [23]:
import nltk
from nltk.stem import PorterStemmer

In [24]:
ps = PorterStemmer()

In [27]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
        
    return " ".join(l)

In [28]:
youtube_df['Title'] = youtube_df['Title'].apply(stems)

C:\Users\sean\AppData\Local\Temp\ipykernel_11160\908966895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  youtube_df['Title'] = youtube_df['Title'].apply(stems)

In [30]:
youtube_df.iloc[1]['Title']

'youtubemovi'

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words= "english")

In [33]:
vector = cv.fit_transform(youtube_df['Title']).toarray()

In [35]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [37]:
vector.shape

(995, 1356)

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
similary = cosine_similarity(vector)

In [41]:
similary

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [42]:
similary.shape

(995, 995)

In [46]:
youtube_df[youtube_df['Title'] == 'youtubemovi'].index[0]

1

In [49]:
def recommend(youtube):
    index = youtube_df[youtube_df['Title'] == youtube].index[0]
    distances = sorted(list(enumerate(similary[index])), reverse=True, key = lambda x: x[1])
    for i in distances[1:6]:
        print(youtube_df.iloc[i[0]].Title)

In [52]:
recommend('youtubemovi')

t-seri
mrbeast
cocomelon - nurseri rhyme
set india
music

In [55]:
import pickle

pickle.dump(youtube_df, open('artificats/youtube_list.pkl', 'wb'))
pickle.dump(similary, open('artificats/similarity_list.pkl', 'wb'))